<body>
<% if @new_age_range %>
<h1>New age range has been added</h1>
<% end %>
<h1>Adding a age range</h1>
<ul>the current age groups are:
  <% Age.all.each do |age| %>
  <li> ID <%= age.id %> – <%= age.range %> </li>
  <% end %>
</ul>
    
<form action="/age/save"> 
  <label for="range">New age range:</label> 
  <input type="text" placeholder="21-55" name="range">
  <input type="submit">
</form>
<form action="/age/delete">
  <label for="id">please enter <b>one</b> id number of the age you'd like to delete. </label> 
  <input type="text" placeholder="1" name="id">
  <input type="submit">
</form>

</body>