<% if @new_age_group %>
<h3>New age group has been added</h3>
<% end %>
<h3>Adding a age group</h3>
  <ul>the current age groups are:
    <% Age.all.each do |groups| %>
       <li> ID <%= groups.id %> – <%= groups.date %> </li>
    <% end %>
  </ul>
    
<form action="/age/save"> 
    <label for="group">New age group:</label> 
      <input type="text" placeholder="21-55" name="group">
    <input type="submit">
</form>
<a href="/home">home</a>