
<%if  @new_day %>
<h3>New day has been added</h3>
<% end %>
<h3>Adding a date to poll form</h3>
<ul>the current dates are:
  <% Day.all.each do |dates| %>
  <li> ID <%= dates.id %> – <%= dates.date %> </li>
  <% end %>
</ul>
    
<form action="/days/save"> 
  <label for="date">New date:</label> 
  <input type="text" placeholder="Monday June 25 2015" name="date">
  <input type="submit"></br>
</form>
<form action="/days/delete">
  <label for="id">please enter <b>one</b> id number of the day you'd like to delete. </label> 
  <input type="text" placeholder="1" name="id">
  <input type="submit">
</form>
