<!doctype html>
<head>
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>

  <title>AO</title>
  

</head>
<body>
<header>
  <div class="top_bar martiniB">
    <div id="logo">
      <h1><a href="/home"><span>Availability </span><em>Overlap</em></a></h1>
    </div>
    <div id="adminicon">
      <img src="../images/cog.png" alt="ambiguous sillhouette">
    </div>

  <div id="menu">
   
    <ul>
      <li><a href="/responder/list" >Responders</a></li>
      <li><a href="/setup_poll">Setup Poll</a> </li>
      <li><a href="/user_availability/best">Best</a></li>
      <li><a href="/responders/availability">responses</a></li>
    </ul>
  </div>
    </div>
</header>
<div class="task">
<%=yield%>

</div>
<footer>
<div id="pallete">
 <h3 class="puddleT"> color pallet reference</h3>
  <div id="white">
    <p class="bahamaB"> bahama</p>
    <p class="puddleB"> puddle</p>
    <p class="martiniB"> martini</p>
    <p class="flushB"> flush</p>
    <p class="raveB"> rave</p>
  </div>
  <div id="black">
    <p class="bahamaB"> bahama</p>
    <p class="puddleB"> puddle</p>
    <p class="martiniB"> martini</p>
    <p class="flushB"> flush</p>
    <p class="raveB"> rave</p>
  </div>
  <div id="text">
    <p class="bahamaT"> bahama</p>
    <p class="puddleT"> puddle</p>
    <p class="martiniT"> martini</p>
    <p class="flushT"> flush</p>
    <p class="raveT"> rave</p>
  </div>
  <div id="textbold">
    <p class="bahamaT"> bahama</p>
    <p class="puddleT"> puddle</p>
    <p class="martiniT"> martini</p>
    <p class="flushT"> flush</p>
    <p class="raveT"> rave</p>
  </div>
</div>

</footer>
<script src="/global.js"></script>
 </body>
</html>