<!doctype html>
<head>
  <link rel="stylesheet" type="text/css" href="/main.css">
  <title>YO</title>

<ul>
  <li><a href="/responder/list">view a list of responders</a></li>
  <li><a href="/days/edit">add days to poll for</a> </li>
  <li><a href="/timeframes/add">add time Time Frames</a> </li>
  <li><a href="/age/edit">add age groups</a></li>
  <li><a href="/user_availability/best">best day and time slot</a></li>
  <li><a href="responders/availability">availability response table</a></li>
  <li><a href="/home">landing page</a></li>
</ul>

</head>
</header>
<body>
  <%=yield%>
</body>
<footer>
  <p>footer test</p>
</footer>
</html>