<div id="intro">
  <p>you've been given this link to take a poll on your availability for an event.</p>
</div>
<form action="/responder/save">
 
  <h3>To sign up please enter the following information.</h3>
  <label for="name">Name:</label>
  <input type="text" placeholder="Frodo Baggins" name="name"></br></br>
  
  <label for="e_mail">e-mail address:</label>
  <input type="text" placeholder="xxyz@yahoo.com" name="e_mail"></br></br>

  <label for="password">Password:</label>
  <input type="text" name="password"></br></br>
  
  <label for="zipcode">Zip Code:</label>
  <input type="number" name="zipcode" pattern=".{5,}" required title="5 numbers required" ></br></br>

  <input type="hidden" value="admin" name="user_weight">

  <button type="submit">create profile</button>
</br></br>
  <em>already a user?</em>
  <a href="/user/login">log-in</a>
</form>

