<h1>Ollo!</h1>
<p>you've been given this link to take a poll on you're availability for an event.</p>
<h3>choose an action</h3>
<a href="dfjkal">add my information and availability</a>
<a href="adfs">edit my information and availability</a>
