<h1>Ollo!</h1>
<p>you've been given this link to take a poll on you're availability for an event.</p>
<h3>choose an action</h3>
  <ul>
    <li><a href="/responder/add">add my information</a></li>
    <li><a href="/responder/list">view a list of responders</li>
    <li><a href="/days/edit">add days to poll for </li>
    <li><a href="/timeframes/add">add time Time Frames </li>
    <li><a href="/age/edit">add age groups</li>
    <li><a href="/user_availability/best">best day and time range</li>
    <li><a href="responders/availability">availability response table</li>
  </ul>