<h1>Ollo!</h1>
<p>you've been given this link to take a poll on you're availability for an event.</p>
<h3>choose an action</h3>
<ul>
  <li><a href="/responder/add">add my information</a></li>
  <li><a href="">view a list of responders</li>
  <li><a href=""> edit days to poll for </li>
  <li><a href="/timeframes/add"> Add time Time Frames </li>

</ul>