  <% if @added %>
<h3>Your availabiltiy has been added</h3>
<% end %>
<% if @complete_list%>
<h3>The complete availability table</h3>
<% end %>
<table>
  <tr style="font-weight:bold;">
    <td>responder</td> 
    <td>Day</td> 
    <td>Time Frame</td>
  </tr>
       
  <% Days_Responders_Time_frames.all.each do |slot| %>
  <tr>
    <td> <%= slot.responders_id %></td>
    <td> <%= slot.days_id %></td>
    <td> <%= slot.timeframes_id %></td>
    
  </tr>
  <% end %>
      
</table>

    
