<form action="/responder/save">
  <h3>Please enter the following information</h3>
  <label for="e_mail">e-mail address:</label>
  <input type="text" placeholder="xxyz@yahoo.com" name="e_mail"></br></br>
           
  <label for="age_id">your age range</label>
  <input type="age_id" placeholder="2" name="age_id"></br></br>
    
  <input type="submit">
</form>

