<form action="/responder/save">
<h3>Please enter the following information</h3>
    <label for="e_mail">e-mail address:</label>
    <input type="text" placeholder="xxyz@yahoo.com" name="e_mail"></br></br>
    
    <!-- i need the form to hold the input for the next page to use for editing -->
    <input type="hidden" placeholder="something@aol.com" name="e_mail"></br>
       
    <label for="age_id">your age range</label>
    <input type="age_id" placeholder="2" name="age_id"></br></br>
    
    <input type="submit">
</form>

