<form action="/responder/save">
  <h3>Please enter the following information</h3>
  <label for="e_mail">e-mail address:</label>
  <input type="text" placeholder="xxyz@yahoo.com" name="e_mail"></br></br>
           
  <label for="age_id">your age range</label>
  <select name="age_id">
    <% Age.all.each do |ages| %>
    <option value= "<%= ages.id %>" ><%= ages.range %> </option>
    <% end %>
  </select>
    
  <input type="submit">
</form>

