<% if @added %>
<h3>Your availabiltiy has been added</h3>
<% end %>
<% if @complete_list%>
<h3>The complete availability table</h3>
<% end %>
     <table>
       <tr style="font-weight:bold;">
         <td>responder_id</td> 
         <td>timeframes_id</td> 
         <td>days_id</td>
       </tr>
       
      <% AvailableTime.all.each do |slot| %>
      <tr>
         <td> <%= slot.responders_id %></td>
         <td> <%= slot.timeframes_id %></td>
         <td> <%= slot.days_id %></td>
      </tr>
      <% end %>
      
    </table>
    

    
    <a href="/home">home</a>
    
