<h2>You've already been a responder to this poll</h2>
<p> you can only edit items from here. You're welcome to edit the following:
    <h3>e-mail</h3>
    <label for="e_mail">e-mail address:</label>
    <input type="text" placeholder="bleh@aol.com" name="e_mail" value="<%= params["name"] %>"</br></br>
    <input type="submit">
    
    <h3>availability</h3>
</p>