<h2>You've already been a responder to this poll</h2>
<p> you can only edit items from here. You're welcome to edit the following:
    <h3>e-mail</h3>
    <label for="e_mail">e-mail address:</label>
    # figure out how to pull what was intered previously to use here.
    <input type="text" placeholder="param["e_mail"]" name="e_mail"></br></br>
    <input type="submit">
    
    <h3>availability</h3>
</p>