<h3>the best availability currently is</h3>

    <p><b>Day:</b><%= Day.find(@date).date %></p>
      
    <p><b>Time range:</b><%= TimeFrame.find(@frame).range %></p>

    <p><b>Responders with that availability</b><%=@users %></p>

    <a href="/home">home</a>
