<h3>the best availability currently is</h3>

    <p><b>Day:</b><%= Day.find(@date).date %></p>
      
    <p><b>Time range:</b><%= TimeFrame.find(@frame).range %></p>

    <ul><b>Responders with that availability</b>
    
      <% @users.each do |user| %>
      <li>
              <%= Responder.find(user["responders_id"]).e_mail %>
      </li>
      <% end %>
  
    </ul>

    <a href="/home">home</a>
