<% if @new %>
<p>You have been added as a responder.</p>

<% end %>
<% if @responder_edit %>
<p>Email has been updated</p>
<% end %>

<ul>
  <li>Id e-mail age_id</li>
  <% Responder.all.each do |responder| %>
  <li> ID<%= responder.id %> – <%= responder.e_mail %> – <%= responder.age_id %> </li>
  <% end %>
</ul>
