<% if @new %>
<p>You have been added as a responder.</p>
<% end %>

<% if @responder_edit %>
<p>Email has been updated</p>
<% end %>


<table>
  <h2>Complete list of responders</h2>
  <tr style="font-weight:bold;">
    <td>Id</td> <td>name</td> <td>e-mail</td> 
  </tr>
  <% Responder.all.each do |responder| %>
  <tr> 
    <td><%= responder.id %> </td> 
    <td><%= responder.name %>  </td>
    <td><%= responder.e_mail %></td>
  </tr>
  <% end %>
</table>


