<h3>let's collect you're availability</h3>
<ol>
<li>click checkboxes by days that you're <b>available</b> to attend 
<li>Click checkboxes by *all* timeslots that you're available </li>
</ol>
<form action="user_availability/save"
  <ul>
    <li>Day</li>
      <ul>
         <li>Time slot 1</li>
         <li>Time slot 2</li>
      </ul>
    <li>Day2</li>
      <ul>
         <li>Time slot 1</li>
         <li>Time slot 2</li>
      </ul>
    <li>Day3</li>
      <ul>
         <li>Time slot 1</li>
         <li>Time slot 2</li>
      </ul>
    <li>Day4</li>
      <ul>
         <li>Time slot 1</li>
         <li>Time slot 2</li>
      </ul>
  </ul>
</form>